{% extends 'my_app/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for object in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                         src="{{ object.preview|mymedia }}" 
                         role="img" aria-label="Placeholder: Preview"
                         preserveAspectRatio="xMidYMid slice" 
                         ocusable="false">
                    <title>Preview</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">'q_q'</text>
                    </img>
                    <div class="card-body">
                        <p class="card-text">{{ object.title }}</p>
                        <p class="card-text">{{ autor_name }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-success" href="{% url 'my_app:view' object.pk %}"
                                   role="button">View</a>
                            </div>
                            <small class="text-body-secondary">{{ object.publish_time }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
