{% extends 'my_app/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">Добавление нового поста</h2>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success">
                                        {% if object %}
                                            Сохранить
                                        {% else %}
                                            Опубликовать
                                        {% endif %}
                                    </button>
                                    <a href="{% url 'my_app:list' %}"
                                   class="btn btn-sm btn-warning">Отмена</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
