{% extends 'my_app/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        {#                         src="/media/{{ object.preview }}" #}
                     src="{{ object.preview|mymedia }}"
                     role="img" aria-label="Placeholder: Preview"
                     preserveAspectRatio="xMidYMid slice"
                     ocusable="false">
                <title>Preview</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">'q_q'</text>
                </img>
                <div class="card-body">
                    <p class="card-text">{{ object.title }}</p>
                    <p>{{ object.content }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">                            
                            <a href="{% url 'my_app:update' object.pk %}"
                                   class="btn btn-sm btn-warning">Edit</a>
                                <a href="{% url 'my_app:delete' object.pk %}"
                                   class="btn btn-sm btn-danger">Delete</a>
                        </div>
                        <small class="text-body-secondary">{{ object.publish_time }}</small>
                        <small class="text-body-secondary">Просмотры: {{ object.views }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
